<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/part2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<video id="background-video" autoplay muted loop>
    <source src="../assets/video/video.mp4" type="video/mp4">
</video>

<section class="main-text">
    <div class="container">
        <div class="text"><span>We're here&emsp;&emsp;&emsp;&emsp; to make healthy living effortless, so you can live longer and happier</span></div>
<!--        <div class="text empty-bg hole"><span>We're here&emsp;&emsp;&emsp;&emsp; to make healthy living effortless, so you can live longer and happier</span></div>-->
            <div class="empty-bg hole"></div>
        </p>
    </div>
</section>

</body>
</html>